#kwicks {
margin-top: -20px;
background-image: url(../images/slider-bg.png);
background-repeat: no-repeat;
background-position: 50% 50%;
position: relative;
height: 424px;
width: 940px;
}

#kwicks a {
	color: #fff;
	text-decoration: none;
}

#kwicks a:hover {
	text-decoration: none;
	color: #fff;
}

.kwicks {
	position: absolute;
	top: 18px;
	overflow:hidden;
	height: 380px;
	width: 940px;
	background: #151515 url(../images/loading.gif) no-repeat 50% 50%;
}
.kwicks li {
	float: left;
	width: 188px;
	height: 380px;
}

.kwickshadow {
z-index: 10;
background: url(../images/kwick-shadow.png) transparent repeat-y;
position: absolute;
right: 0px;
height: 380px;
width: 95px;
}


.kwickimage {padding:0;margin:0;}

.kwickcaption {
	float:right;
	position:absolute;
	bottom: 0;
	color:#fff;
	padding: 0px;
	text-transform: uppercase;
	background:#111;
	width: 100%;
	height: 100px;
	opacity:0.7;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	font-size: 11px;
}

.kwickcaption p {
	margin: 20px 15px 20px 15px;
	display: block;
}

.captionhover {
	float:right;
	position:absolute;
	bottom: 0;
	color:#fff;
	padding: 0px;
	background:#111;
	width: 100%;
	height: 100px;
}

.captionhover a {
	margin: 15px 30px 12px 15px;
	display: block;
	font-size: 11px;
}

.captionhover .captiontitle {
	margin-bottom: 5px;
	font-size: 20px;
	display: block;
}

.kwicks.horizontal li {
	margin-right: 0px; 
	float: left;
	background: #151515 url(../images/loading.gif) no-repeat;
	background-position: 70px 150px;
}
.kwicks.vertical  li{
	margin-bottom: 5px; 
}
