---
import Inner from '../../layouts/Inner.astro'
---

<Inner
  title="Anti-hijack and Key Theft Protection - Trilogy Incar"
  breadcrumbs={[{ label: 'Home', href: '/' }, { label: 'Anti-hijack and Key Theft Protection' }]}
>
  <h1>Anti-hijack and Key Theft Protection</h1>
  <p>As more and more vehicles are being taken by stealing the keys, these devices don't rely on you having to arm them, they are passively set (Self Setting) or remotely set via text.</p>
  <p>Hijack/Key Theft devices are designed to aid you recover your asset after it has been stolen. This could be a Tracking System, P.I.N operated device that will stop the vehicle after a pre set time from theft or remotely by Text.</p>
  <p>With a choice of system we can install a system to your exact requirement, no matter what you drive.</p>
  <p><a href="/anti-hijack-key-theft-protection/ghost-vehicle-protection/">Ghost Vehicle Protection</a></p>
  <a href="/anti-hijack-key-theft-protection/ghost-vehicle-protection/">
    <img src="/files/ghost-protection.jpg" class="highlight_image_big" alt="Ghost Vehicle Protection" />
  </a>
  <hr />
</Inner>
