---
import Inner from '../layouts/Inner.astro'
---

<Inner
  title="Car Audio and Multimedia Installation - Trilogy Incar"
  breadcrumbs={[{ label: 'Home', href: '/' }, { label: 'Car Audio and Multimedia Installation' }]}
>
  <h1>Car Audio and Multimedia Installation</h1>
  <img src="/files/car-audio-installation.jpg" class="highlight_image_big" alt="Car audio installation" />
  <p>Not being tied to any specific hifi manufacturer we can offer virtually any brand of unit, from a head unit to a full system. We can provide what you require!</p>
  <p>Please note that we will happily fit your own equipment even if you have purchased elsewhere. We understand that the internet can offer cheap products from time to time so why waste the money you have saved on the purchase price by trying to fit your audio equipment yourself at the risk of damaging your purchase or even setting your vehicle on fire in a worst case scenario!</p>
  <h2>Upgrading your existing audio system</h2>
  <p>Everything you will need to upgrade your existing manufacturers audio system is also taken care of. Fascia adapter panels, connection adapter leads and steering wheel control interfaces are available for most models. Standard factory fitted speakers are usually of low quality, these can now be replaced with high performance custom fit speaker systems which fit in the original speaker apertures without modification. As there are many variations available when considering in-car entertainment, we are more than happy to offer advice and further information regarding your personal requirements. Please contact Trilogy for details.</p>
  <p>We can supply and fit touch screen multimedia Navigation head units with Bluetooth connectivity, DAB radio and iPod integration. Some units now have Smartphone mirror links so you can use your apps on the head unit. We can install rear entertainment systems for rear passengers in the form of roof or headrest mounted DVD players. We also can provide Docking brackets for iPad and most other brands of tablets so you can mount them in the rear safely and securely and at a convenient height for use.</p>
  <hr />
</Inner>
