---
import Inner from '../layouts/Inner.astro'
import Sidebar from '../components/Sidebar.astro'
---

<Inner
  title="Contact Us - Trilogy Incar"
  breadcrumbs={[{ label: 'Home', href: '/' }, { label: 'Contact' }]}
>
  <h1>Contact Us</h1>
  <p>Please contact Trilogy using the details provided below. Alternatively you can locate us via the map to the right.</p>

  <div id="contact">
    <div class="column_holder">
      <div class="half">
        <h6>Contact Details</h6>
        <span class="contact_text">
          (landline) <a href="tel:+441613039818">0161 303 9818</a><br />
          (mobile) <a href="tel:+447711079779">07711 079779</a>
        </span><br />
        <a href="mailto:info@trilogyincar.com">info@trilogyincar.com</a>
      </div>
      <div class="half last">
        <h6>Our Premises</h6>
        <span class="contact_text">Trilogy, Unit 1, Peel Street, Stalybridge, SK15 1PT</span>
      </div>
    </div>
  </div>

  <Fragment slot="sidebar">
    <div class="block">
      <h6>Locate Us</h6>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sen!2suk!4v1469964437183!6m8!1m7!1s8asxj5ajE0Lfv71T6Go17A!2m2!1d53.47983565285111!2d-2.067141769559373!3f67.84360267737284!4f-3.09622484253174!5f0.7820865974627469"
        width="280"
        height="350"
        style="border:0"
        allowfullscreen
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        title="Trilogy location map"
      ></iframe>
      <br /><small><a href="https://maps.google.co.uk/maps?q=Peel+Street,+Stalybridge,+SK15+1PT" style="color:#999;font-size:11px">View Larger Map</a></small>
    </div>
    <Sidebar />
  </Fragment>
</Inner>
