---
import Inner from '../layouts/Inner.astro'
---

<Inner
  title="Dash Cam and Vehicle CCTV Installation - Trilogy Incar"
  breadcrumbs={[{ label: 'Home', href: '/' }, { label: 'Dash Cams and Vehicle CCTV' }]}
>
  <h1>Dash Cams and Vehicle CCTV</h1>
  <img src="/files/blackvue-cameras.jpg" class="highlight_image_big" alt="Dash cameras" />
  <p>With the roads becoming ever more busy and more uninsured drivers among the crowds of vehicles we have to negotiate every day, Dash cameras have become very popular to help protect you, your vehicle and your no claims discount by allowing the authorities to view incidents recorded by these devices. There are lots to choose from and they are easily purchased but do you know exactly what is best for your vehicle or requirements? Luckily we do and can advise you on the best type of camera for you whether it's a front or front and rear system, HD or UHD, internal camera systems for passenger carrying vehicles to keep your passengers safe. HGV vehicles sometimes require multiple cameras due to their size and shape — we can tailor a system for these types of vehicle and we actually do systems where you can have up to 8 cameras. We can supply cameras with smart phone compatibility which allow you to view footage from the camera on your phone and then email or send it from it without having to use a PC. We stock leading brands and offer full instruction on usage after installation and support on all our supplied products — something you don't get from online shops and chain stores.</p>
  <p>We offer Dash cameras from leading brands such as Blackvue, Garmin, CKO and Mio to protect you from being blamed for bogus accidents or incidents on our ever increasingly busy roads. The discreet cameras are wired neatly into your vehicles electrical system so they record as soon as you start your journey onto SD cards or hard drives. Quality HD footage can be played back via PC or now even through your smart phone via Wi-Fi. On vehicles such as Taxis and mini buses we offer Multi camera CCTV which can record inside and outside for your protection; on bigger HGV vehicles we can also add side cameras and monitors to help drivers see down the blind spot of these vehicles, protecting themselves, pedestrians and cyclists alike.</p>
  <hr />
</Inner>
