---
import Inner from '../layouts/Inner.astro'
---

<Inner
  title="Fleet Management / Vehicle Tracking - Trilogy Incar"
  breadcrumbs={[{ label: 'Home', href: '/' }, { label: 'Fleet Management / Vehicle Tracking' }]}
>
  <h1>Fleet Management / Vehicle Tracking</h1>
  <p>Modern vehicle tracking uses GPS for absolute accuracy and reliability. A small discrete electronic box is installed within the vehicle being monitored.</p>
  <p>The vehicle data can be viewed from any computer or smartphone with web access. Data is stored such as current locations, start, stop and running times, routes taken, speed travelled.</p>
  <p>Months of data can be stored for referral at a later date if required. Stolen vehicle tracking uses exactly the same technology as the fleet system but is monitored 24 hours a day by a S.O.C (Secure Operating Centre) which is approved by all major insurers. If an unauthorised vehicle movement or theft takes place the S.O.C would locate the vehicle immediately and liaise with the Police and recovery services to recover your asset as quickly as possible.</p>
  <p>You can even have the option of remotely immobilising your vehicle by text and monitoring your vehicle via the internet for added peace of mind.</p>
  <hr />
</Inner>
