---
import Base from '../layouts/Base.astro'
---

<Base title="Car audio &amp; alarm installation - Trilogy">
  <div id="content">
    <div id="home_content">
      <div class="wrapper">

        <div id="sliderwrapper">
          <div id="slider" class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="/files/slide24.jpg" alt="Audi R8" /></div>
              <div class="swiper-slide"><img src="/files/slide23.jpg" alt="Audi S4" /></div>
              <div class="swiper-slide"><img src="/files/slide22.jpg" alt="Defender Khan Edition" /></div>
              <div class="swiper-slide"><img src="/files/slide21.jpg" alt="Ducati 999" /></div>
              <div class="swiper-slide"><img src="/files/slide20.jpg" alt="Ducati Panagale" /></div>
              <div class="swiper-slide"><img src="/files/slide19.jpg" alt="GP4 Mk1 Escort" /></div>
              <div class="swiper-slide"><img src="/files/slide18.jpg" alt="Green Focus RS" /></div>
              <div class="swiper-slide"><img src="/files/slide17.jpg" alt="GT 86" /></div>
              <div class="swiper-slide"><img src="/files/slide16.jpg" alt="GT 86" /></div>
              <div class="swiper-slide"><img src="/files/slide15.jpg" alt="MK2 Escort 1600 Sport" /></div>
              <div class="swiper-slide"><img src="/files/slide14.jpg" alt="MK2 Escort Rally" /></div>
              <div class="swiper-slide"><img src="/files/slide13.jpg" alt="VW T4" /></div>
              <div class="swiper-slide"><img src="/files/slide12.jpg" alt="Nissan GTR" /></div>
              <div class="swiper-slide"><img src="/files/slide11.jpg" alt="Porsche GT3" /></div>
              <div class="swiper-slide"><img src="/files/slide10.jpg" alt="Land Rover" /></div>
              <div class="swiper-slide"><img src="/files/slide9.jpg" alt="Trilogy portfolio" /></div>
              <div class="swiper-slide"><img src="/files/slide8.jpg" alt="Trilogy portfolio" /></div>
              <div class="swiper-slide"><img src="/files/slide7.jpg" alt="Trilogy portfolio" /></div>
              <div class="swiper-slide"><img src="/files/slide1.jpg" alt="Ford Focus RS" /></div>
              <div class="swiper-slide"><img src="/files/slide2.jpg" alt="Nissan 350Z" /></div>
              <div class="swiper-slide"><img src="/files/slide3.jpg" alt="Audi Estate RS6" /></div>
              <div class="swiper-slide"><img src="/files/slide4.jpg" alt="Porsche" /></div>
              <div class="swiper-slide"><img src="/files/slide5.jpg" alt="Trilogy portfolio" /></div>
              <div class="swiper-slide"><img src="/files/slide6.jpg" alt="Audi TTS" /></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>

        <div id="featured">
          <ul>
            <li>
              <img src="/files/notepad.png" alt="Trilogy - Authorised Dealer" class="feature_icon" />
              <span class="featured_title">Authorised dealer</span>
              <p>Trilogy is an authorised dealer for: Clifford, Parrot, Laser Line and SmarTrack.</p>
            </li>
            <li>
              <img src="/files/mail.png" alt="Trilogy - Contact" class="feature_icon" />
              <span class="featured_title"><a href="/contact-us/">Contact us here</a></span>
              <p>Address, contact telephone number and google map so you'll have no problem finding us.</p>
            </li>
            <li>
              <img src="/files/engine.png" alt="Trilogy - Bespoke Service" class="feature_icon" />
              <span class="featured_title"><a href="/bespoke-services/">Bespoke Service</a></span>
              <p>Have something a little more bespoke? From the small to large projects we'll be able to fit you in.</p>
            </li>
          </ul>
        </div>

        <div id="content_columns">

          <div class="column">
            <h6>Who we are</h6>
            <a href="/about-us/"><img src="/files/trilogyincar-unit.jpg" alt="About Us" class="highlight_image" /></a>
            <p>Trilogy was formed in 1997 by Tim Doyle and has been a specialist in car audio and security for over 25 years.</p>
          </div>

          <div class="column">
            <h6>What we do</h6>
            <div id="accordion">
              <ul>
                <li class="current"><a href="#web">Car audio installation</a>
                  <div>Not being tied to any specific hifi manufacturer we can offer virtually any brand of unit, from a head unit to a full system. We can provide what you require!</div>
                </li>
                <li><a href="#logodesign">Vehicle Security installation</a>
                  <div>We can provide you with standard or tailored security systems for your car, van or bike, whether you have a standard production car, homologation special or a one off custom / modified car that wants something special.</div>
                </li>
                <li><a href="#logodesign">Dash Cams and Vehicle CCTV</a>
                  <div>Protect yourself and your passengers from bogus whip lash claims and on road incidents.</div>
                </li>
                <li><a href="#print">Anti-Hijack Systems</a>
                  <div>As more and more vehicles are being taken by stealing the keys, these devices don't rely on you having to arm them, they are passively set (Self Setting) or remotely set via text.</div>
                </li>
                <li><a href="#print">Fleet Management / Vehicle Tracking</a>
                  <div>Modern vehicle tracking uses GPS for absolute accuracy and reliability. A small discrete electronic box is installed within the vehicle being monitored.</div>
                </li>
              </ul>
            </div>
          </div>

          <div class="column_right">
            <h6>Latest Portfolio Additions</h6>
            <div class="block_posts">
              <ul>
                <li><img src="/files/post12.jpg" width="60" height="60" alt="Nissan GTR" /><a href="/portfolio/">Nissan GTR</a></li>
                <li><img src="/files/post11.jpg" width="60" height="60" alt="Porsche" /><a href="/portfolio/">Porsche</a></li>
                <li><img src="/files/post10.jpg" width="60" height="60" alt="Land Rover" /><a href="/portfolio/">Land Rover</a></li>
              </ul>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</Base>
