---
import Inner from '../layouts/Inner.astro'
---

<Inner
  title="Parking Aids - Trilogy Incar"
  breadcrumbs={[{ label: 'Home', href: '/' }, { label: 'Parking Aids' }]}
>
  <h1>Parking Aids</h1>
  <p>We can supply a variety of aids to help you park safely from front and rear parking sensors to night vision reversing cameras with monitors or integrated into existing head units.</p>
  <p>Parking sensors can be colour coded for the factory look. Front sensors can operate just the same as factory fitted sensors which automatically switch off above a certain speed then turn back on once you slow down to make a parking manoeuvre. Rear sensors come on automatically when you select reverse gear. All come with extensive warranties.</p>
  <hr />
</Inner>
