---
import Base from '../layouts/Base.astro'
---

<Base title="Portfolio - Some of our projects - Trilogy Incar">

  <div id="content">
    <div id="breadcrumbs">
      <div class="wrapper">
        <p>You are here: </p>
        <ul>
          <li><a href="/">Home</a></li>
          <li class="current_crumb">Portfolio</li>
        </ul>
      </div>
    </div>

    <div id="inner_content">
      <div class="wrapper">
        <h1>Portfolio : Some of our projects</h1>

        <div id="portfolio_selector">
          <ul id="filter">
            <li>Select a category : </li>
            <li class="current"><a href="#">All</a>  |</li>
            <li><a href="#">Audio Installation</a>  |</li>
            <li><a href="#">Alarm Installation</a>  |</li>
            <li><a href="#">Anti-Hijack</a>  |</li>
            <li><a href="#">Vehicle Tracking</a></li>
          </ul>
        </div>

        <div id="portfolio_content">
          <div class="column_holder">
            <ul id="portfolio">
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide26.jpg" class="glightbox" data-gallery="portfolio" title="T5 Conversion"><img src="/files/26.jpg" alt="T5 Conversion" /><span></span></a></div><h2><a href="#">T5 Conversion</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide27.jpg" class="glightbox" data-gallery="portfolio" title="Porsche 911 Turbo S"><img src="/files/27.jpg" alt="Porsche 911 Turbo S" /><span></span></a></div><h2><a href="#">Porsche 911 Turbo S</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide28.jpg" class="glightbox" data-gallery="portfolio" title="Aston Martin DBS Carbon Black edition"><img src="/files/28.jpg" alt="Aston Martin DBS Carbon Black edition" /><span></span></a></div><h2><a href="#">Aston Martin DBS Carbon Black edition</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide29.jpg" class="glightbox" data-gallery="portfolio" title="Headunit upgrade"><img src="/files/29.jpg" alt="Headunit upgrade" /><span></span></a></div><h2><a href="#">Headunit upgrade</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide30.jpg" class="glightbox" data-gallery="portfolio" title="Audi RS5 Avant"><img src="/files/30.jpg" alt="Audi RS5 Avant" /><span></span></a></div><h2><a href="#">Audi RS5 Avant</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide31.jpg" class="glightbox" data-gallery="portfolio" title="New Whitby Mercedes ice cream van"><img src="/files/31.jpg" alt="New Whitby Mercedes ice cream van" /><span></span></a></div><h2><a href="#">New Whitby Mercedes ice cream van</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide32.jpg" class="glightbox" data-gallery="portfolio" title="MK2 Golf GTi"><img src="/files/32.jpg" alt="MK2 Golf GTi" /><span></span></a></div><h2><a href="#">MK2 Golf GTi</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide33.jpg" class="glightbox" data-gallery="portfolio" title="New double car transporter"><img src="/files/33.jpg" alt="New double car transporter" /><span></span></a></div><h2><a href="#">New double car transporter</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide34.jpg" class="glightbox" data-gallery="portfolio" title="Daybreak 2"><img src="/files/34.jpg" alt="Daybreak 2" /><span></span></a></div><h2><a href="#">Daybreak 2</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/35.jpg" class="glightbox" data-gallery="portfolio" title="Blood Brothers"><img src="/files/35.jpg" alt="Blood Brothers" /><span></span></a></div><h2><a href="#">Blood Brothers</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide36.jpg" class="glightbox" data-gallery="portfolio" title="GP4 Escort MK2"><img src="/files/36.jpg" alt="GP4 Escort MK2" /><span></span></a></div><h2><a href="#">GP4 Escort MK2</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide37.jpg" class="glightbox" data-gallery="portfolio" title="2 Older Gents"><img src="/files/37.jpg" alt="2 Older Gents" /><span></span></a></div><h2><a href="#">2 Older Gents</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide38.jpg" class="glightbox" data-gallery="portfolio" title="Audi R8"><img src="/files/38.jpg" alt="Audi R8" /><span></span></a></div><h2><a href="#">Audi R8</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide39.jpg" class="glightbox" data-gallery="portfolio" title="Painted front sensors"><img src="/files/39.jpg" alt="Painted front sensors" /><span></span></a></div><h2><a href="#">Painted front sensors</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide40.jpg" class="glightbox" data-gallery="portfolio" title="New engine loom"><img src="/files/40.jpg" alt="New engine loom" /><span></span></a></div><h2><a href="#">New engine loom</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide41.jpg" class="glightbox" data-gallery="portfolio" title="Alpine stealthy amp installation"><img src="/files/41.jpg" alt="Alpine stealthy amp installation" /><span></span></a></div><h2><a href="#">Alpine stealthy amp installation</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide42.jpg" class="glightbox" data-gallery="portfolio" title="Impreza WRC"><img src="/files/42.jpg" alt="Impreza WRC" /><span></span></a></div><h2><a href="#">Impreza WRC</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide43.jpg" class="glightbox" data-gallery="portfolio" title="Audi RS3"><img src="/files/43.jpg" alt="Audi RS3" /><span></span></a></div><h2><a href="#">Audi RS3</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide44.jpg" class="glightbox" data-gallery="portfolio" title="Adreatic"><img src="/files/44.jpg" alt="Adreatic" /><span></span></a></div><h2><a href="#">Adreatic</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide45.jpg" class="glightbox" data-gallery="portfolio" title="Ferrari 360 Spider"><img src="/files/45.jpg" alt="Ferrari 360 Spider" /><span></span></a></div><h2><a href="#">Ferrari 360 Spider</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide46.jpg" class="glightbox" data-gallery="portfolio" title="Full engine rewire"><img src="/files/46.jpg" alt="Full engine rewire" /><span></span></a></div><h2><a href="#">Full engine rewire</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide47.jpg" class="glightbox" data-gallery="portfolio" title="Escort Cosworth"><img src="/files/47.jpg" alt="Escort Cosworth" /><span></span></a></div><h2><a href="#">Escort Cosworth</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide48.jpg" class="glightbox" data-gallery="portfolio" title="Pair of new GT86s"><img src="/files/48.jpg" alt="Pair of new GT86s" /><span></span></a></div><h2><a href="#">Pair of new GT86s</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide49.jpg" class="glightbox" data-gallery="portfolio" title="Interior light upgrade"><img src="/files/49.jpg" alt="Interior light upgrade" /><span></span></a></div><h2><a href="#">Interior light upgrade</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide50.jpg" class="glightbox" data-gallery="portfolio" title="Subaru Impreza WRC"><img src="/files/50.jpg" alt="Subaru Impreza WRC" /><span></span></a></div><h2><a href="#">Subaru Impreza WRC</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide51.jpg" class="glightbox" data-gallery="portfolio" title="C63 AMG"><img src="/files/51.jpg" alt="C63 AMG" /><span></span></a></div><h2><a href="#">C63 AMG</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide52.jpg" class="glightbox" data-gallery="portfolio" title="Lancia Integrale"><img src="/files/52.jpg" alt="Lancia Integrale" /><span></span></a></div><h2><a href="#">Lancia Integrale</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide53.jpg" class="glightbox" data-gallery="portfolio" title="Limited edition D-Max"><img src="/files/53.jpg" alt="Limited edition D-Max" /><span></span></a></div><h2><a href="#">Limited edition D-Max</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide12.jpg" class="glightbox" data-gallery="portfolio" title="Nissan GTR"><img src="/files/12.jpg" alt="Nissan GTR" /><span></span></a></div><h2><a href="#">Nissan GTR</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide11.jpg" class="glightbox" data-gallery="portfolio" title="Porsche GT3"><img src="/files/11.jpg" alt="Porsche GT3" /><span></span></a></div><h2><a href="#">Porsche GT3</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide10.jpg" class="glightbox" data-gallery="portfolio" title="Land Rover"><img src="/files/10.jpg" alt="Land Rover" /><span></span></a></div><h2><a href="#">Land Rover</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide9.jpg" class="glightbox" data-gallery="portfolio" title="Porsche"><img src="/files/9.jpg" alt="Porsche" /><span></span></a></div><h2><a href="#">Porsche</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide8.jpg" class="glightbox" data-gallery="portfolio" title="VW"><img src="/files/8.jpg" alt="VW" /><span></span></a></div><h2><a href="#">VW</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack audio-installation one_third"><div class="portfolio_image"><a href="/files/slide7.jpg" class="glightbox" data-gallery="portfolio" title="Kawasaki"><img src="/files/7.jpg" alt="Kawasaki" /><span></span></a></div><h2><a href="#">Kawasaki</a></h2><p>&nbsp;</p></li>
              <li class="audio-installation one_third"><div class="portfolio_image"><a href="/files/slide1.jpg" class="glightbox" data-gallery="portfolio" title="Ford Focus RS"><img src="/files/1.jpg" alt="Ford Focus RS" /><span></span></a></div><h2><a href="#">Ford Focus RS</a></h2><p>&nbsp;</p></li>
              <li class="anti-hijack one_third"><div class="portfolio_image"><a href="/files/slide2.jpg" class="glightbox" data-gallery="portfolio" title="Nissan 350Z"><img src="/files/2.jpg" alt="Nissan 350Z" /><span></span></a></div><h2><a href="#">Nissan 350Z</a></h2><p>&nbsp;</p></li>
              <li class="audio-installation anti-hijack one_third"><div class="portfolio_image"><a href="/files/slide3.jpg" class="glightbox" data-gallery="portfolio" title="Audi Estate RS6"><img src="/files/3.jpg" alt="Audi Estate RS6" /><span></span></a></div><h2><a href="#">Audi Estate RS6</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation one_third"><div class="portfolio_image"><a href="/files/vw-leisure-drive.jpg" class="glightbox" data-gallery="portfolio" title="VW Leisure Drive"><img src="/files/vw-leisure-drive-med.jpg" alt="VW Leisure Drive" /></a></div><h2><a href="#">VW Leisure Drive</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation anti-hijack one_third"><div class="portfolio_image"><a href="/files/trilogy-honda-civic-type-r.jpg" class="glightbox" data-gallery="portfolio" title="Honda Civic Type R"><img src="/files/trilogy-honda-civic-type-r-med.jpg" alt="Honda Civic Type R" /></a></div><h2><a href="#">Honda Civic Type R</a></h2><p>&nbsp;</p></li>
              <li class="vehicle-tracking one_third"><div class="portfolio_image"><a href="/files/slide4.jpg" class="glightbox" data-gallery="portfolio" title="Porsche"><img src="/files/4.jpg" alt="Porsche" /><span></span></a></div><h2><a href="#">Porsche</a></h2><p>&nbsp;</p></li>
              <li class="alarm-installation one_third"><div class="portfolio_image"><a href="/files/slide6.jpg" class="glightbox" data-gallery="portfolio" title="Audi TTS"><img src="/files/6.jpg" alt="Audi TTS" /><span></span></a></div><h2><a href="#">Audi TTS</a></h2><p>&nbsp;</p></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</Base>
