---
import Inner from '../layouts/Inner.astro'
---

<Inner
  title="Sat Nav Installation - Trilogy Incar"
  breadcrumbs={[{ label: 'Home', href: '/' }, { label: 'Sat Nav Installation' }]}
>
  <h1>Sat Nav Installation</h1>
  <p>Driving from A to B is getting tougher every day, especially when you're not sure where B actually is... You've done your best to plan your route well in advance but your mind was wandering and you missed your turn. You're caught in the bowels of a city centre one way system, with nowhere to pull over to read the map and the pedestrian you manage to beg directions from doesn't come from around there either!</p>
  <p>Ever considered a Navigation System? Installing a navigation system removes all the stress out of finding your way around. Whether you need to get to the other side of Brighton or the far side of Brussels, you will be guided to your chosen destination simply and safely.</p>
  <p>Basically, vehicle navigation systems calculate where the vehicle is, using GPS (Global Positioning System) technology from satellites orbiting the Earth. Using speed data from your vehicle as it moves along with direction and mapping data from the navigation computer, a route is created to your chosen destination. As you proceed on your journey, clear instructions regarding necessary turns are provided visually and with clearly spoken messages, minimising the need to draw your attention from your driving. If you should miss a turning, don't worry, within a few seconds the system will account for this and recalculate an alternative route to get you back on track.</p>
  <p>Choose from a variety of styles including motorised, retractable screen units, standard radio replacement style or removable dashboard mounted monitors. All systems include feature packed, user selectable functions and detailed CD or DVD based ROM databases. Not only do these contain mapping data but also useful information regarding locations of Fuel Stations, Parking Facilities, Local Points of Interest and more.</p>
  <hr />
</Inner>
