---
import Inner from '../layouts/Inner.astro'
---

<Inner
  title="Testimonials - Trilogy Incar"
  breadcrumbs={[{ label: 'Home', href: '/' }, { label: 'Testimonials' }]}
>
  <h1>Testimonials</h1>
  <p>Below you will find a number of testimonials from clients which will be updated every few months.</p>
  <blockquote>Thanks for fitting a Clifford G5 alarm system on my Civic Type R, remote start and anti-hijack... great job and fast turn around - cheers Tim. <strong>James - Stalybridge</strong></blockquote>
  <hr />
  <blockquote>Thanks for fitting a Clifford G5 alarm system on my Civic Type R, remote start and anti-hijack... great job and fast turn around - cheers Tim. <strong>James - Stalybridge</strong></blockquote>
</Inner>
