---
import Inner from '../layouts/Inner.astro'
---

<Inner
  title="Vehicle Security Installation - Trilogy"
  breadcrumbs={[{ label: 'Home', href: '/' }, { label: 'Vehicle Security Installation' }]}
>
  <h1>Vehicle Security Installation</h1>
  <img src="/files/trilogyincar-unit-lrg.jpg" class="highlight_image_big" alt="Vehicle security installation" />
  <p>Trilogy can provide you with standard or tailored security systems for your car, van or bike, whether you have a standard production car, homologation special or a one off custom / modified car that wants something special.</p>
  <p>Trilogy offers a mobile service or installation at our workshop and use the highest quality products to integrate the systems into your vehicles. We can undertake any work on vans and motorhomes and offer tailored systems to this type of vehicle such as wireless passive sensors, reversing cameras and central locking.</p>
  <p>We can integrate a system into an existing factory remote or even upgrade a system to add extra sensors or security devices. With our wealth of experience we can offer advice on old systems and/or repairs to them. Basically we can provide full knowledge in every aspect of electronic security.</p>
  <hr />
</Inner>
