<footer id="footer_end">
  <div class="wrapper">

    <nav class="footer-nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about-us/">About</a></li>
        <li><a href="/what-we-do/">What we do</a></li>
        <li><a href="/portfolio/">Portfolio</a></li>
        <li><a href="/contact-us/">Contact</a></li>
      </ul>
    </nav>

    <div class="footer-social">
      <h3>Follow us on Social Media</h3>
      <ul>
        <li><a href="https://www.facebook.com/trilogyincar/" aria-label="Like us on Facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
      </ul>
    </div>

    <p class="footer-copy">All content Copyright &copy; 2025 Trilogy.<br /><a href="http://www.mechanised.co.uk" target="_blank">We are Mechanised</a></p>

  </div>
</footer>

<!-- TODO: Replace with GA4 tracking ID (G-XXXXXXXXXX) -->
