<footer id="footer_end">
  <div class="wrapper">

    <div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about-us/">About</a></li>
        <li><a href="/what-we-do/">What we do</a></li>
        <li><a href="/portfolio/">Portfolio</a></li>
        <li><a href="/contact-us/">Contact</a></li>
      </ul>
    </div>

    <div>
      <h3>Follow us on Social Media</h3>
      <ul>
        <li><a href="https://www.facebook.com/trilogyincar/"><img src="/files/facebook.svg" alt="Like us on Facebook" /></a></li>
      </ul>
    </div>

    <p>All content Copyright &copy; 2025 Trilogy.<br /><a href="http://www.mechanised.co.uk" target="_blank">We are Mechanised</a></p>

  </div>
</footer>

<!-- TODO: Replace with GA4 tracking ID (G-XXXXXXXXXX) -->
